name: CI-CD Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build backend image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dd-backend:latest ./backend

    - name: Build frontend image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dd-frontend:latest ./frontend

    - name: Push images to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/dd-backend:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/dd-frontend:latest

    - name: Deploy on Azure VM
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        script: |
          cd ~/mean-app/crud-dd-task-mean-app
          docker compose pull
          docker compose up -d --force-recreate
